[submodule "MRTC"]
	path = MRTC
	url = ../MRTC.git
[submodule "TestSpec"]
	path = TestSpec
	url = ../TestSpec.git
[submodule "TOOLSUP"]
	path = TOOLSUP
	url = https://github.com/KiranBT19/TOOLSUP.git
	branch = master
